@{
    Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="text-center">
    <h1>Edit Machine</h1>
    <h3>Editing: @Html.DisplayFor(model => model.MachineName)</h3>
</div>
<hr />

@using (Html.BeginForm())
{
    <div class="form-container text-center">
        @Html.HiddenFor(model => model.MachineId)
        <div class="form-group">
            <label class="label">@Html.DisplayNameFor(model => model.MachineName)</label>
            @Html.EditorFor(model => model.MachineName, new { @class = "form-control" })
            <p class="text-danger font-weight-bold">@Html.ValidationMessageFor(model => model.MachineName)</p>
        </div>
        <div class="form-group text-center">
            <label class="label">@Html.DisplayNameFor(model => model.ManufactureDate)</label>
            @Html.EditorFor(model => model.ManufactureDate, new { @class = "form-control", @type = "date" })
            <p class="text-danger font-weight-bold">@Html.ValidationMessageFor(model => model.ManufactureDate)</p>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success">Save</button>
        
    </div>
    <div class="text-center">
        <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId }, new { @class = "btn btn-danger" })</p>

        <p>@Html.ActionLink("Back to All Machines", "Index", null, new { @class = "btn btn-secondary" })</p>
    </div>
}