@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="container">
  <h1>Add Engineer to Machine</h1>
</div>
<hr />
<div class="container">
    <h2>Add @Html.DisplayFor(model => model.EngineerName) to a machine: </h2>
</div>

@using (Html.BeginForm())
{<div class="form-container">
    @Html.HiddenFor(model => model.EngineerId)
    <div>
        @Html.Label("Select Machine: ")
        @Html.DropDownList("MachineId", ViewBag.MachineId as SelectList)
    </div>
</div>
<div class="center">
    <input type="submit" value="Save" />
</div>
}
<hr />
<div class="link-container">
    <p>@Html.ActionLink("Back to All Engineers", "Index")</p>
</div>